@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.navbar{
    box-sizing: border-box;
    position: fixed;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 15px 15px;
}

.logo{
    display: flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
}

.logo:hover{
    border-radius: 50px;
    background-color: rgb(235, 235, 235);
}

.logo-svg{
    fill: #c00;
}

button{
    border: none;
    background: none;
    cursor: pointer;
}

.content1-nav button{
    font-size: 15px;
    font-weight: bolder;
    padding: 16px 18px;
}

.btn-select{
    border-radius: 50px;
    background: black !important;
    color: white;
}

.content1-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-nav{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgb(230, 228, 228);
    border-radius: 50px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.finder{
    border: none;
    width: 95%;    
    border-radius: 50px;
    background-color: rgb(230, 228, 228);
    height: 50px;
    margin-left: 5px;
}

.finder::placeholder{
    font-size: medium;
}

.finder:focus{
    border: 5px solid rgb(61, 188, 226);
    border-radius: 50px;
    outline: none;
    margin: 0;
}

.lupa{
    fill: rgb(128, 127, 127);;
}

.finder:focus ~ label{
    display: none;
}

.finder:focus{
    width: 100%;
    border: 2px solid rgb(61, 188, 226);
    border-radius: 50px;
    outline: none;
}

.content2-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2-nav svg{
    fill: rgb(128, 127, 127);;
}

.btn-notifications , .btn-message{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 50px;
    width: 50px;
}

.btn-notifications{
    margin-left: 10px;
}

.btn-arrow{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 24px;
    width: 24px;
}

.img-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.profile-circle:hover, .btn-notifications:hover, .btn-message:hover, .btn-arrow:hover{
    border-radius: 50px;
    background-color: rgb(235, 235, 235);
}

.profile-btn{
    height: 24px;
    width: 24px;
    background-color: rgba(194, 38, 194, 0.733);
    color: white;
    border-radius: 50px;
}

.container-images{
    padding-top: 80px;
    columns: 10 236px;
    column-gap: 5px;
}

.card-image{
    z-index: -2;
    position: relative;
    width: 236px;
    overflow: hidden;
    border-radius: 20px;
    margin-inline: auto;
    margin-block-end: 40px;
    cursor: zoom-in;
}
    

.card-image:nth-child(2n){
    height: 230px;
}

.card-image:nth-child(3n){
    height: 180px;
}

.card-image:nth-child(4n){
    height: 320px;
}

.card-filter{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 8%;
    position: absolute;
}

.card-image >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
